#cadastro
{
    display: flex;
    border: 1px 0px 0px 0px solid red;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
      overflow: hidden;
      font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.container-cadastro
{
    display: flex;
    justify-content: crente;
    align-items: center;
    flex-direction: column;
    border: 1px solid pink;
    border: 1px 0px 0px 0px;
    width: 100%;

}

.frase-bemvindo
{
    color: white;
}

.formulario-container-cadastro
{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border: 1px solid green;
    width: 414px;
    height: 517px;
}

.container-titulo-cadastro
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    color: aliceblue;
    border: 1px solid red;
    width: 100%;
    height: 7%;
    
}

.titulo-cadastro 
{
    margin-right: 230px;
}

.container-email-e-senha-cadastro-formulario
{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    border: 1px solid blue;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.container-cadastro-email
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 49px;
    width: 354px;
    height: 49px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    margin-bottom: 20px;
    background-color:  #BAB7B7;
    opacity: 80%;
}

.container-cadastro-email::placeholder 
{
    color: gray;
    font-weight: 700;
}

.container-cadastro-senha
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 49px;
    width: 354px;
    height: 49px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    background-color:  #BAB7B7;
    opacity: 80%;
}

.container-cadastro-senha::placeholder 
{
    color: gray;
    font-weight: 700;
}

.container-botao-cadastro
{
    width: 354px;
    height: 49px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;

}


.botao-logar
{
    width: 354px;
    height: 49px;
    top: 613px;
    border-radius: 5px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    background-color:  #E3C72DCC;


}