#listaFilmes {
    margin-left: 50px; 
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
  }
  
  .form-wrapper {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .form-wrapper-2 input{
    width: 40%;
    padding: 10px 15px;
  }
  .icone-edição{
    position:absolute;
    margin-left: 180px;
    margin-top: 10px;
    color: #fff;
    width: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .input-filme{
    height: 20px;
    width: 300px;
  }
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #DA1E26;
    font-weight:bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
  }
  
  .form-wrapper button:hover {
    opacity:.8;
  }
  .filme-imagem{
    width: 220px;
    height: 350px;
    cursor: pointer;
  }
  .secao-filme{
    width: 270px
  }
  .filme-titulo{
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }