.container-modal {
    display: none;
    
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;
    
    background-color: rgba(237, 231, 231, 0.858);
    
    justify-content: center;
    align-items: center;

    z-index: 1000;
  }

  .secao-filme
  {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .container-modal-itens {
    background-color: rgba(198, 198, 198, 0.5);
    color: black;
    min-width: 400px;
    max-width: 1024px;
    width: 100%;
    border: 10px solid #E3C72DCC;
    height: fit-content;
    padding: 20px 50px 50px;
  }
  

  .container-modal-itens-especificos
  {
    display: flex;
    justify-content: center;
    align-items:self-start;
    /* border: 1px solid blue;*/
    margin-left: 20px;
  }

  .container-modal-itens-especificos-descricao
  {
    /*border: 1px solid yellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container-modal-itens > .container-modal-itens-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .container-modal-itens-especificos-informacoes > .itens-especificos-informacoes {
    display: flex;
    gap: 20px;
  }

  .itens-especificos-informacoes > .informacoes-nome-e-categoria {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 48px;
  }


  .itens-label
  {
    font-size: 14px;
  }

  .informacoes-nome-e-categoria-titulo, .informacoes-nome-e-categoria-ano
  {
    font-weight: 900;
    text-wrap: nowrap;
    width: 72px;
    height: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
  }

  .itens-especificos-informacoes
  {
    /*border: 1px solid pink;*/
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-left: 30px;

  }
  
  .container-modal-itens-especificos-informacoes {
    display: flex;
    gap: 20px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content:baseline;
    align-items: center;
    max-width: 50%;
    flex-direction: column;
  }

  .informacoes-nome-e-categoria
  {
    margin-bottom: 90px;
  }

  .input-field-titulo-2
  {
    margin-top: 40px;
    border-left: 5px solid #E3C72DCC;
    margin-bottom: 5px;
  }

  .filme-imagem
  {
    cursor: pointer;
  }
  
  .secao-filme-categoria
  {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 10px solid #E3C72DCC;
  }
  .itens-label
  {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .informacoes-nome-e-categoria-titulo
  {
    border-left: 5px solid #E3C72DCC;
    margin-bottom: 5px;
  }
  .input-nome-e-categoria-ano
  {
    border-left: 5px solid #E3C72DCC;
    margin-bottom: 5px;
  }




 /*
  #content-text
  {
    margin-top: -20px;
    padding-bottom: 40px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;

  }
  
  .container-modal-itens-especificos-informacoes > .form--input-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  
.blocos-do-modal
  {
    height: 30px;
    width: 500px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    padding-left: 5px;

  }
  
  .formulario-checkin-modal input
  {
    width: 223px;
    height: 16px;
    margin-left: -100px;
  }

  .formulario-checkin-modal p
  {
    margin-left: 25px;
    margin-top: -20px;
    color: #333333;
    font-family: Lato;
  }
 
  .botao-enviar-modal
  {
    width: 80px;
    height: 20px;
    margin-left: 0px;
  }

  .botao-enviar2-modal
  {
   height: 10px;
   margin-top: 10px;
   cursor: pointer;
   text-align: center;
   font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  padding: 16px 32px 20px 32px;
  border-radius: 5px;
  background: #FF5733;
  border: 1px solid #FF5733;
  text-wrap: nowrap;
  }

  @media screen and (max-width:508px)
  {
    .container-modal 
    {
       
        width: 50vw;
        height: 100vh;
        padding-left: 100px;
        justify-content: center;
        align-items: center;
    
    }
    .action-modal {
        
        min-width: 400px;
        max-width: 508px;
        width: 100%;
      
        height: fit-content;
      
        padding: 20px 50px 50px;
      }
      
    #content-text
  {
    font-size: 16px;
    line-height: 16px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .container-modal-itens-especificos-informacoes
  {
    padding-right: 15px;
    padding-left: 15px;
  }
  .itens-especificos-informacoes
  {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
  }
  .blocos-do-modal
  {
    height: 30px;
    width: 270px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
  }
  .formulario-checkin-modal
  {
    margin-left: 40px;
  }
  .formulario-checkin-modal input
  {
    width: 223px;
    height: 16px;
    margin-left: -100px;
    margin-top: 10px;
  }
  .formulario-checkin-modal p
  {
    margin-left: 25px;
    color: #333333;
    font-family: Lato;
    font-size: 14px;
  }
  
  }*/



  