*
{
    padding: 0px;
    margin: 0px;
    gap: 0px;
    opacity: 0px;
}

body
{
    width: 100%;
    display: flex;
}

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
}